# Data Science Tools and Ecosystem

**Objectives:**

- Learn to use Markdown and Code cells
- List popular languages used in Data Science
- List Data Science Tools
- Perform arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Data Science Tools
| Data Science Tools |
| ------------- |
| Jupyter Notebooks |
| RStudio |
| Visual Studio Cone |

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
(3*4)+5

# This a simple arithmetic expression to mutiply then add integers

17

In [16]:
200/60

#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Julia P.